*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black;

}

.card{
    width: 720px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.card-left,.card-right{
    border: 1px solid black;
}