* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body header{
  color:white;
  display: grid;
  place-items: center;
}

body{
  background: linear-gradient(to right, white,black,red);
}
.content {
  padding: 1rem;
}