<app-menu-title />
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://u-static.fotor.com/images/text-to-image/result/PRO-d9ead80f08934ffbbaa03568beea4449.jpg"
      cardTitle="Yes"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nisideleniti reprehenderit temporibus illo assumenda harum nihil natusdicta, corrupti, voluptatum laudantium officia magni rem culpa? Temporasoluta dolorum asperiores"
    />
  </div>
  <div class="articles__others">
    <app-small-card 
    Id="2"
    photoCover="https://u-static.fotor.com/images/text-to-image/result/PRO-2297775941ef4d63b3853bc99095b87b.jpg"
    cardTitle="Honorable Cassandra"/>
    <app-small-card
      photoCover="https://u-static.fotor.com/images/text-to-image/result/PRO-78d1d57a9bc8436bbbad6a75296afa4a.jpg"
      cardTitle="Honorable Fumbdruck"
    />
    <app-small-card
      photoCover="https://u-static.fotor.com/images/text-to-image/result/PRO-fe35efed5e3e40389bd00d99b436fa38.jpg"
      cardTitle="Idiot Fairy"
    />
  </div>
</div>
