<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://img.freepik.com/free-psd/premium-mobile-phone-screen-mockup-template_53876-81688.jpg" >
  </div>
  <div class="big-card__title">
    <h1>Nova Versão do Angular</h1>
  </div>
  <div class="big-card__description">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nisi deleniti reprehenderit temporibus illo assumenda harum nihil natus dicta, corrupti, voluptatum laudantium officia magni rem culpa? Tempora soluta dolorum asperiores?
    </p>
    </div>
</div>
